<div class="container" style="margin-bottom: 30px;">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>The Article Archives</h1>
      <h2>Welcome <%= @user.name %></h2>
    </div>
  </div>
</div>



<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <table style="width:100%">
        <tr>
          <th style="width: 40%">Title</th>
          <th style="width: 10%">View</th>
          <th style="width: 15%">Author</th>
          <th style="width: 15%">Publish Date</th>
          <th style="width: 20%">Actions</th>
        </tr>
        <% @articles.each do |article| %>
          <% if article.isPublic %>
          <tr>
            <td><%= link_to "#{article.title}", article_path(article) %></td>
            <td><p><%= article.view_count %></p></td>
            <td><%= @all_users.find(article.user_id).name %></td>
            <td><%= article.publishDate %></td>
            <td>

              <% if article.user_id == current_user.id %>
                <%= link_to edit_article_path(article) do%>
                  <%= image_tag "icons/pen.png", alt: "edit", class: "action-icons"%>
                <% end %>
                |
                <%= link_to article_path(article), method: :delete  do%>
                  <%= image_tag "icons/trash.png", alt: "delete", class: "action-icons"%>
                <% end %>
              <% else %>
                <%= image_tag "icons/pen.png", alt: "edit", class: "inactive-icons"%>
                |
                <%= image_tag "icons/trash.png", alt: "delete", class: "inactive-icons"%>
              <% end %>
            </td>
          </tr>

          <% end %>
        <% end %>
      </table>
      <h3>Private articles</h3>
      <table style="width:100%">
        <tr>
          <th style="width: 40%">Title</th>
          <th style="width: 10%">View </th>
          <th style="width: 15%">Author</th>
          <th style="width: 15%">Publish Date</th>
          <th style="width: 20%">Actions</th>
        </tr>
        <% @articles.each do |article| %>
        <% if !article.isPublic && article.user_id == current_user.id%>
        <tr>
          <td><%= link_to "#{article.title}", article_path(article) %></td>
          <td><p><%= article.view_count %></p></td>
          <td><%= @all_users.find(article.user_id).name %></td>
          <td><%= article.publishDate %></td>
           <td>
              <%= link_to edit_article_path(article) do %>
                <%= image_tag "icons/pen.png", alt: "edit", class: "action-icons"%>
              <% end %>
              |
              <%= link_to article_path(article), method: :delete  do %>
              <%= image_tag "icons/trash.png", alt: "delete", class: "action-icons"%>
              <% end %>
            </td>
        </tr>
        <% end %>
        <% end %>
      </table>

    </div>
  </div>
</div>

